#reset-button:focus{
    outline: none;
}

#double-d6-buttons {
    display: flex;
    flex-direction: column;
}

#d6, #d12, #d20, #double-d6 {
    display: flex;
    justify-content: space-around;
}

.roll {
    height: 100px;
    width: 100px;
}

.button-area {
  display: flex;
  justify-content: center;
}

#reset-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #6100e8;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #F1EDEE;
    margin: 15px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#reset-button:hover{
    background-color: #2f00ff;
    box-shadow: 0px 15px 20px #000000;
    color: #fff;
    transform: translateY(-7px);
}
